.banner {
    height               : 600px;
    background-size      : cover !important;
    background-position-x: center !important;
}

.center {
    align-self: center;
}

.bottom {
    align-self: last baseline;
}

.slick-slide>div {
    width: 100%;
}

