.announcement-bar {
    background-color: #e30613;
    color: white;
    text-align: center;
    padding: 12px 0;
    font-size: 16px;
    font-weight: bold;
    position: fixed; /* Ensure it stays at the top of the page */
    top: 0;
    left: 0;
    width: 100%;

  }
  
  /* .announcement-bar a {
    color: #ffd700;
    text-decoration: none;
    margin-left: 8px;
  }
   */
  .announcement-bar a:hover {
    text-decoration: underline;
  }
  
  /* Ensure the content below the bar does not overlap */
  body {
    padding-top: 50px; /* Adjust based on the height of your announcement bar */
  }
  